[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/gem-ctags"]
	path = bundle/gem-ctags
	url = git://github.com/tpope/gem-ctags.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-coffeescript"]
	path = bundle/vim-coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-git-grep-rails-partial"]
	path = bundle/vim-git-grep-rails-partial
	url = git://github.com/skwp/vim-git-grep-rails-partial.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/kogakure/vim-sparkup.git
[submodule "bundle/auto-tag"]
	path = bundle/auto-tag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/skwp/vim-powerline.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundle/vim-ruby-conque"]
	path = bundle/vim-ruby-conque
	url = git://github.com/skwp/vim-ruby-conque.git
