# .hbs and .handlebars files

# Includes html.snippets
snippet if
	{{#if ${1}}}
		${2}
	{{/if}}
snippet else
	{{else}}
		${1}
snippet each
	{{#each ${1}}}
		${2}
	{{/each}}
snippet view
	{{view ${1}}}
snippet render
	{{render "${1:name}" ${2:object}}}
